* {
  padding: 0;
  margin: 0;
}


body, html {
    height: 100%;
  }
  
  body {
    
    background-image: url("../images/back.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 
  #main-content{
      /* padding: 10% 45%; */
      text-align: center;
      padding: 90px;  
    }

.card {
  margin: auto;
}

img{
  height:210px;
  width: 99px;
}
